# App requirements from setup.py
LatLon23>=1,<2
Pillow==8.0.1
django-auth-ldap==2.3.0
django-constance[database]==2.6.0
django-filter==2.4.0
git+https://git@github.com/pramon-apsl/django-geoposition.git
django-haystack==3.0
django-import-export==2.4.0
django-modeltranslation==0.16.2
django-mptt==0.11.0
django-mptt-admin==2.0.3
django-rest-auth==0.9.5
git+https://git@github.com/arabadandelgado/django-rest-swagger.git
django-rq==2.4.0
django-taggit-serializer==0.1.7
django-taggit==1.2.0
django-thumbor>=0.5.6,<0.6
django-yubin>=1.6.0,<2
django_categories==1.8
djangorestframework-recursive==0.1.2
djangorestframework==3.12.2
drf-chunked-upload==0.4.2
drf-haystack==1.8.10
dry-rest-permissions>=0.1.8,<0.2
exifread==2.1.2
flickrapi>=2.1.2,<3
hashfs>=0.7.0,<0.8
python-dateutil>=2.5.3,<3
rest-framework-generic-relations==2.1.0
drf-yasg==1.20.0

# Additional requirements for development and testing
Django==3.2
faker==0.7.3
flake8==3.3.0
ipdb==0.10.2
model_mommy==1.3.0
pytest==3.0.7
pytest-django==3.1.2
pytest-sugar==0.8.0
tox==2.7.0

# local bima_core
-e .
