{% load i18n bima_core_tags %}
{% user_display user as user_display %}

{% if welcome %}
    {% trans "Hello from" %} {{ site_name }}!
    <br/><br/>

    {% blocktrans with site_name=site_name site_domain=site_domain %}
    You're receiving this e-mail because user {{ user_display }} at {{ site_domain }} has given yours as an e-mail
    address to connect their account.
    {% endblocktrans %}
    <br/><br/>
{% endif %}

{% trans "Please go to the following page and choose a new password:" %}
<br/>
{{ bima_core_change_password_site }}{{ uid }}/{{ token }}/
<br/><br/>
{% if not welcome %}
    {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
    <br/><br/>
{% endif %}

{% trans "Thanks for using our site!" %}
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
